@import "partial";

$primary-color: #9c40cc;
$primary-font: 'Helvetica', sans-serif;

h1 {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 45px;
}

nav {
  color: $primary-color;
  font-size: 32px;
  font-family: $primary-font;
  ul{
    color: darkblue;
    font-size: 24px;
  }
}

.panel {
  background: #82dd61;
  padding: 30px;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
}

.button {
  @include border-radius(10px);
  @extend .panel;
}

.light-button{
  @include border-radius(20px);
  @extend .panel;
}

button {
  width: 100px;
  height: 50px;
}