@import "partial";

$primary-font: 'Helvetica', sans-serif;
$primary-color: #9c40cc;
$text-size: 24px;

h1 {
  color: $primary-color;
  font-family: $primary-font;
  font-size: 45px;
}

nav {
  color: $primary-color;
  font-size: 32px;
  font-family: $primary-font;
  ul {
    color: darkblue;
    font-size: $text-size;
  }
}

.panel {
  border: 3px solid deeppink;
  margin:10px;
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.compare_img{
  @include border-radius(10px);
  @extend .panel;
}

.fearnot_img{
  @include border-radius(25px);
  @extend .panel;
}

$buttonBackground: #82dd61;
$button-padding: 30px;

.button {
  background: $buttonBackground;
  margin-left: $button-padding;
}

.light-button {
  background: $buttonBackground *1.5;
  margin-left: $button-padding;
}

button {
  width: 100px;
  height: 50px;
}